@using Fluorite.MobileSite.Data
@using Fluorite.MobileSite.Models
@{
    Layout = "~/Views/_Layout.cshtml";
    var seller = ViewBag.Seller as Seller;
    var crousels = ViewBag.Crousels as List<Article>;
    var commons = ViewBag.Commons as List<Article>;
    var menus = ViewBag.Menus as List<Article>;
    var smalls = ViewBag.Smalls as List<Article>;
}
<link href="~/owl.carousel.2.0.0-beta.3/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="~/owl.carousel.2.0.0-beta.3/assets/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/Content/index.css" rel="stylesheet"/>
<style>
    a {
        text-decoration: none;
        color: inherit;
    }
</style>
<script src="~/owl.carousel.2.0.0-beta.3/owl.carousel.min.js"></script>
<div class="left fl" style="display: none">
    <div class="left_search">
        <div style="width: 100%; height: 5px;"></div>
        <div class="left_search_input">
            <input type="text" id="search" />
            <div class="search_button">
                <img src="~/Content/放大镜按钮30x30.png" />
            </div>
        </div>
        <div class="cf"></div>
    </div>
    <div class="left_menu">登录</div>
    @for (int i = 0; i < 7; i++)
    {
        <div class="left_menu">
            <a href="@((menus.NullOrNone() || !menus.Exist(i)) ? "javascript:void(0)" :Url.Action("Article")+"?articleId="+ menus[i].Id)">
                @((menus.NullOrNone() || !menus.Exist(i)) ? "菜单" + (i + 1) : menus[i].Title)
            </a>
        </div>
    }

</div>
<div class="cover"></div>
<div class="right fl">
    <div class="right_main">
        <div class="head w100">
            <div class="menu fl">
                <img src="~/Content/菜单按钮20x20.png" />
            </div>
            <div class="logo fl">
                <img src="@(string.IsNullOrEmpty(seller.LogoUrl) ? "/页面内元素打包/顶部元素/顶部LOGO.png" : seller.LogoUrl)" />
            </div>
            <div class="user fl">
                @*                <i class="fa fa-circle"></i>*@
            </div>
        </div>
        <div class="cf under_head" style="width: 100%;"></div>
        <div class="owl-carousel owl-theme w100">
            @for (int i = 0; i < 5; i++)
            {
                <div>
                    <a href="@((crousels.NullOrNone() || !crousels.Exist(i)) ? "javascript:void(0)" : Url.Action("Article") + "?articleId=" + crousels[i].Id)">
                        <img src="@((crousels.NullOrNone() || !crousels.Exist(i)) ? "/Content/nopic.jpg" : crousels[i].CoverUrl)"/>
                    </a>
                </div>
            }
        </div>
        <div class="content w100">
            @for (int i = 0; i < 4; i++)
            {
                <div class="item">

                    <div class="item_img">
                        <a href="@((commons.NullOrNone() || !commons.Exist(i)) ? "javascript:void(0)" : Url.Action("Article") + "?articleId=" + commons[i].Id)">
                            <img src="@((commons.NullOrNone() || !commons.Exist(i)) ? "/Content/nopic.jpg" : commons[i].CoverUrl)" />
                        </a>
                    </div>
                    <div class="item_text">
                        <a href="@((commons.NullOrNone() || !commons.Exist(i)) ? "javascript:void(0)" : Url.Action("Article") + "?articleId=" + commons[i].Id)">
                            @((commons.NullOrNone() || !commons.Exist(i)) ? "暂无标题暂无标题暂无标题" : commons[i].Title)
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="foot">
            @for (int i = 0; i < 2; i++)
            {
                <div class="foot_logo">
                    <div class="fl foot_left_logo">
                        <a href="@((smalls.NullOrNone() || !smalls.Exist(i)) ? "javascript:void(0)" : Url.Action("Article") + "?articleId=" + smalls[i].Id)">
                            <img src="@((smalls.NullOrNone() || !smalls.Exist(i)) ? "/Content/nopic.jpg" : smalls[i].CoverUrl)" />
                        </a>
                    </div>
                    <div class="fr foot_right_text">
                        <a href="@((smalls.NullOrNone() || !smalls.Exist(i)) ? "javascript:void(0)" : Url.Action("Article") + "?articleId=" + smalls[i].Id)">
                            @((smalls.NullOrNone() || !smalls.Exist(i)) ? "暂无标题暂无标题暂无标题" : smalls[i].Title)
                        </a>
                    </div>
                </div>
                <div class="cf"></div>
            }
            <div class="foot_bottom w100">
                @(string.IsNullOrEmpty(seller.LogoText)?"Fomind":seller.LogoText)
            </div>
        </div>
    </div>
</div>
<script src="~/Content/index.js?r=@(new Random().Next(10000))"></script>
