@using Fluorite.MobileSite.Data
@{
    Layout = "~/Views/_AdminLayout.cshtml";
    ViewBag.Title = "添加商品";
    var seller = ViewBag.Seller as Seller;
}
<link href="~/Content/uploadify.css" rel="stylesheet" />

<script src="~/Content/jquery.uploadify.min.js"></script>
<ol class="breadcrumb">
    <li><a href="/gl">商家管理</a></li>
    <li><a href="/Admin/Articles?sellerId=@seller.Id" id="toSeller">@seller.Name</a></li>
    <li class="active">添加商品</li>
</ol>
<form id="form_add_article" style="width: 60%; ">
    <div class="form-group">
        <label>商品入口位置</label>
        <select name="Type" class="form-control">
            <option value="@((int)ArticleType.Carousel)">轮播大图</option>
            <option value="@((int)ArticleType.Common)">页面中部</option>
            <option value="@((int)ArticleType.Menu)">左侧菜单</option>
            <option value="@((int)ArticleType.SmallCover)">页面底部</option>
        </select>
    </div>
    <div class="form-group">
        <label>商品标题</label>
        <input type="text" class="form-control" name="Title">
        <input type="hidden" name="ImageName" id="ImageName">
        <input type="hidden" name="ImageNameYY" id="ImageNameYY">
        <input type="hidden" name="SellerId" value="@seller.Id">
    </div>
    <div class="form-group">
        <label>封面图片</label><br />
        <img id="cover" style="display: none" /><br /><br />
        <input type="file" name="file_upload" id="file_upload" />
    </div>
    <div class="form-group">
@*        <label>说明</label>*@
@*        <textarea class="form-control" rows="3" name="Remarks"></textarea>*@
        <div class="checkbox">
            <label>
                <input type="checkbox" onchange="check()" id="IsExternal" /> 外站链接
            </label>
        </div>
    </div>
    <div class="form-group details">
        <label>详情</label>
        <script id="container" name="content" type="text/plain">
        </script>
    </div>
    <div class="form-group details">
        <label>预约标题</label>
        <input type="text" class="form-control" name="OrderTitle">
    </div>
    <div class="form-group details">
        <label>预约广告图</label>
        <img id="cover_yy" style="display: none" /><br /><br />
        <input type="file" name="file_upload_yy" id="file_upload_yy" />
    </div>
    <div class="form-group details">
        <label>预约内容</label>
        <script id="order" name="order" type="text/plain">
        </script>
    </div>
    <div class="form-group external">
        <label>外站网址</label>
        <input type="text" class="form-control" name="ExternalUrl">
    </div>
    <a class="btn btn-primary" onclick="add()">提交</a>
</form>
<!-- 配置文件 -->
<script src="~/UEditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script src="~/UEditor/ueditor.all.min.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container', {
        toolbars: [
['fullscreen', 'source', 'undo', 'redo'],
['bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', 'simpleupload', 'fontfamily', 'fontsize', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|', 'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter']
        ],
        autoHeightEnabled: true,
        autoFloatEnabled: true
    });
    var order = UE.getEditor('order', {
        toolbars: [
['fullscreen', 'source', 'undo', 'redo'],
['bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', 'simpleupload', 'fontfamily', 'fontsize', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter']
        ],
        autoHeightEnabled: true,
        autoFloatEnabled: true
    });

    var add = function () {
        var article = $('#form_add_article').serializeObject();
        article.details = ue.getContent();
        article.order = order.getContent();
        article.IsExternal = document.getElementById('IsExternal').checked;
        $.ajax({
            url: '@Url.Action("AddArticle", "Admin")',
            type: 'post',
            data: JSON.stringify(article),
            success: function () {
                alert('成功');
                document.getElementById('toSeller').click();
            },
            error: function () {
                alert('失败');
            }
        });
    };
    $('#file_upload').uploadify({
        'multi': false,
        'buttonText': '上传封面',
        'swf': '@Url.Content("~/Content/uploadify.swf")',
        'uploader': '@Url.Action("SaveImage")',
        'onUploadSuccess': function (file, data, response) {
            $('#cover').show().attr('src', '@Url.Content("~/temp/")' + data);
            $('#ImageName').val(data);
            $('.uploadify-button-text').html('更换封面？');
        }
    });
    $('#file_upload_yy').uploadify({
        'multi': false,
        'buttonText': '上传图片',
        'swf': '@Url.Content("~/Content/uploadify.swf")',
        'uploader': '@Url.Action("SaveImage")',
        'onUploadSuccess': function (file, data, response) {
            $('#cover_yy').show().attr('src', '@Url.Content("~/temp/")' + data);
            $('#ImageNameYY').val(data);
        }
    });
    var check = function () {
        if (document.getElementById('IsExternal').checked) {
            $('.details').hide();
            $('.external').show();
        } else {
            $('.details').show();
            $('.external').hide();
        }
    };
    check();
</script>