@using Fluorite.MobileSite.Data
@using Fluorite.MobileSite.Models
@model dynamic
@{
    Layout = "~/Views/_AdminLayout.cshtml";
    var seller = ViewBag.Seller as Seller;
    var articles = seller.Articles.Where(x => x.Valid).OrderByDescending(x => x.CreateTime).ToList();
    ViewBag.Title = seller.Name;
}
<style>
    h1 {
        display: inline-block;
    }

    #btn_add_article {
        float: right;
    }

    .panel-heading {
        height: 55px;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/gl">商家管理</a></li>
    <li class="active">@seller.Name</li>
</ol>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">基本信息</h3>
    </div>
    <div class="panel-body">
        <form id="form_add_seller">
            <div class="form-group">
                <label>商户名称</label>
                <input type="text" class="form-control" name="Name" value="@seller.Name">
                <input type="hidden" name="Id" value="@seller.Id"/>
            </div>
            <div class="form-group">
                <label>商户联系人</label>
                <input type="text" class="form-control" name="Contacts" value="@seller.Contacts">
            </div>
            <div class="form-group">
                <label>电话</label>
                <input type="text" class="form-control" name="Tel" value="@seller.Tel">
            </div>
            <div class="form-group">
                <label>备注</label>
                <textarea class="form-control" rows="3" name="Remarks">@seller.Remarks</textarea>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary" value="更新" id="btn_save"/>
                <input type="button" class="btn btn-default" value="恢复原值" id="btn_revert"/>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">文章管理</h1>
        <a href="@Url.Action("AddArticle", new {sellerId = seller.Id.ToString()})" id="btn_add_article"
           class="btn btn-primary">添加文章</a>
    </div>
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>文章标题</th>
            <th>创建时间</th>
            <th>入口位置</th>
            <th>操作</th>
        </tr>
        @if (articles != null && articles.Any())
        {
            foreach (var article in articles)
            {
                <tr>
                    <td>@article.Title</td>
                    <td>@article.CreateTime.ToShortDateString()</td>
                    <td>@article.Type.DisplayName()</td>
                    <td>
                        <a href="@Url.Action("EditArticle",new {articleId=article.Id})" class="btn btn-primary">编辑</a>
                        <input type="button" value="删除" class="btn btn-danger" onclick="del('@article.Id')" />
                    </td>
                </tr>
            }
        }
    </table>
</div>

<script>
    $('#btn_save').on('click', function () {
        var command = $('#form_add_seller').serializeJson();
        $.ajax({
            url: "@Url.Action("EditSeller","Admin")",
            type: 'post',
            data: command,
            success: function () {
                window.location.reload();
            },
            error: function () {
                alert('服务器错误');
            }
        });
    });
    $('#btn_revert').on('click', function () {
        window.location.reload();
    });
    var del = function (id) {
        var sure = window.confirm('确定要删除吗?');
        if (!sure) return;
        $.ajax({
            url: "@Url.Action("DeleteArticle","Admin")?id="+id,
            type: 'get',
        success: function () {
            window.location.reload();
        },
        error: function () {
            alert('服务器错误');
        }
    });
    };
</script>