@using Fluorite.MobileSite.Data
@using Fluorite.MobileSite.Models
@model dynamic
@{
    Layout = "~/Views/_AdminLayout.cshtml";
    var seller = ViewBag.Seller as Seller;
    var articles = seller.Articles.Where(x => x.Valid).OrderByDescending(x => x.CreateTime).ToList();
    ViewBag.Title = seller.Name;
    var host = ViewBag.Host as string;
}
<style>
    h1 {
        display: inline-block;
    }

    #btn_add_article {
        float: right;
    }

    .panel-heading {
        height: 55px;
    }
</style>
<link href="~/Content/uploadify.css" rel="stylesheet" />

<script src="~/Content/jquery.uploadify.min.js"></script>
<ol class="breadcrumb">
    <li><a href="/gl">商家管理</a></li>
    <li class="active">@seller.Name</li>
</ol>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">基本信息 [<a id="s_o_h">展开</a>]</h3>
    </div>
    <div class="panel-body">
        <form id="form_add_seller" style="display: none">
            <div class="form-group">
                <label>本页链接</label>
                <input type="text" class="form-control" readonly="readonly" value="@("http://"+host+"/shop/"+ seller.Name)">
            </div>
            <div class="form-group">
                <label>商户名称</label>
                <input type="text" class="form-control" name="Name" value="@seller.Name">
                <input type="hidden" name="Id" value="@seller.Id"/>
                <input type="hidden" name="ImageName" id="ImageName">
            </div>
            <div class="form-group">
                <label>商户联系人</label>
                <input type="text" class="form-control" name="Contacts" value="@seller.Contacts">
            </div>
            <div class="form-group">
                <label>电话</label>
                <input type="text" class="form-control" name="Tel" value="@seller.Tel">
            </div>
            <div class="form-group">
                <label>顶部LOGO</label><br/>
                @if (string.IsNullOrEmpty(seller.LogoUrl))
                {
                    <img id="cover" style="display: none"/>
                }
                else
                {
                    <img id="cover" src="@seller.LogoUrl"/>
                }
                <br/><br/>
                <input type="file" name="file_upload" id="file_upload"/>
            </div>
            <div class="form-group">
                <label>底部LOGO文字</label>
                <input type="text" class="form-control" name="LogoText" value="@seller.LogoText">
            </div>
            <div class="form-group">
                <label>底部LOGO文字大小</label>
                <input type="text" class="form-control" name="LogoTextSize" value="@seller.LogoTextSize">(请填0.1~3之间的数字)
            </div>
            <div class="form-group">
                <label>底部LOGO链接</label>
                <input type="text" class="form-control" name="LogoUri" value="@seller.LogoUri">
            </div>
@*            <div class="form-group">*@
@*                <label>备注</label>*@
@*                <textarea class="form-control" rows="3" name="Remarks">@seller.Remarks</textarea>*@
@*            </div>*@
            <div class="form-group">
                <input type="button" class="btn btn-primary" value="更新" id="btn_save"/>
                <input type="button" class="btn btn-default" value="恢复原值" id="btn_revert"/>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">商品管理</h1>
        <a href="@Url.Action("AddArticle", new {sellerId = seller.Id.ToString()})" id="btn_add_article"
           class="btn btn-primary">添加商品</a>
    </div>
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>商品标题</th>
@*            <th>创建时间</th>*@
            <th>入口位置</th>
            <th>详情页地址</th>
            <th>操作</th>
        </tr>
        @if (articles != null && articles.Any())
        {
            foreach (var article in articles)
            {
                <tr>
                    <td>@article.Title</td>
@*                    <td>@article.CreateTime.ToShortDateString()</td>*@
                    <td>@article.Type.DisplayName()</td>
                    <td>@("http://" + host  + Url.Action("Article", "Home") + "?articleId=" + article.Id)</td>
                    <td>
                        <a href="@Url.Action("EditArticle",new {articleId=article.Id})" class="btn btn-primary">编辑</a>
                        <input type="button" value="删除" class="btn btn-danger" onclick="del('@article.Id')" />
                    </td>
                </tr>
            }
        }
    </table>
</div>

<script>
    $('#s_o_h').click(function() {
        if ($(this).text() === '收起') {
            $('#form_add_seller').hide();
            $(this).text('展开');
        } else {
            $('#form_add_seller').show();
            $(this).text('收起');
        }
    });
    
    $('#btn_save').on('click', function() {
        var command = $('#form_add_seller').serializeJson();
        $.ajax({
            url: "@Url.Action("EditSeller", "Admin")",
            type: 'post',
            data: command,
            success: function () {
                window.location.reload();
            },
            error: function () {
                alert('服务器错误');
            }
        });
    });
    $('#btn_revert').on('click', function () {
        window.location.reload();
    });
    var del = function (id) {
        var sure = window.confirm('确定要删除吗?');
        if (!sure) return;
        $.ajax({
            url: "@Url.Action("DeleteArticle","Admin")?id=" + id,
            type: 'get',
            success: function () {
                window.location.reload();
            },
            error: function () {
                alert('服务器错误');
            }
        });
    };
    $('#file_upload').uploadify({
        'multi': false,
        'buttonText': '上传LOGO',
        'swf': '@Url.Content("~/Content/uploadify.swf")',
        'uploader': '@Url.Action("SaveImage")',
        'onUploadSuccess': function (file, data, response) {
            $('#cover').show().attr('src', '@Url.Content("~/temp/")' + data);
            $('#ImageName').val(data);
        }
    });
</script>